<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM2040 Template</title>
</head>
<body>
    <% blogs.forEach(blog => { %>
        <h1><%=blog.title %></h1>
        <h2><%=blog.subtitle %></h2>
        <h3><%=blog.blog_username %></h3>
    <%}) %>
    <form action="create-user-record" method="post">
        <button type="submit">Create a new user record</button>
    </form>
</body>
</html>
