<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="output.css">
</head>
<body>
  <h1 class="bg-blue-600">Signup</h1>

  <form action="/user/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="remember">Author:</label>
    <input type="checkbox" id="author" name="author"><br>
    <% if (errors && errors.length > 0) { %>
      <% errors.forEach(error => { %>
        <p><%=error.msg%></p>
      <% }) %>
    <% } %>
    <input type="submit" value="Login">
  </form>
  
</body>
</html>